.hover-grid {
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  justify-content: center;
  background-color: #ead7bb;
  transition: box-shadow 0.2s ease; /* Add transition for smooth effect */
}

.hover-grid:hover {
  box-shadow: 0 4px 8px #113946; /* Add your desired box shadow for hover effect */
}