.main-container {
  padding-top: 2em;
  padding-bottom: 7em;
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.books-container {
  margin: auto;
  width: 100%;
  height: 60svh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.main-container h4 {
  text-align: right;
  padding-right: 2em;
  margin-bottom: 10px;
}

.authors-name {
  font-weight: 300;
  font-size: small;
  display: inline-block;
}

.book-content {
  margin-left: 1em;
  padding: 0;
  width: 100%;
}

.delete-button {
  margin-top: 5em;
  margin-left: 27em;
}

