.categories-container {
  width: 9rem;
  padding: 1rem 0.5rem 1rem 1rem;
}

.languages-container {
  width: 10rem;
  padding: 1rem 2rem 1rem 0.5rem;
}

#demo-simple-select {
  background-color: white;
}

.search-type-container {
  padding: 1rem 0rem;
  width: 7rem;
}

.submit-button {
  padding: 1rem 1rem;
  padding-left: 0;
  background-color: '#113946';
}
