
:root {
  --white: #FFFFFF;
  --tan-1: #FFF2D8;
  --tan-2: #EAD7BB;
  --tan-3: #BCA37F;
  --tan-4: #113946;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace, -apple-system, BlinkMacSystemFont, 'Space Mono', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-1);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

button {
  background-color: var(--tan-4);
  color: var(--white);
  font-family: monospace, -apple-system, BlinkMacSystemFont, 'Space Mono', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}